#modal-overlay {
  visibility: hidden; 
  position: absolute; 
  left: 0px;
  top: 0px; 
  width:100%; 
  height:100%; 
  text-align:center;
  z-index: 1000; 
}

.modal-data{ 
  width:300px;
  margin: 200px auto; 
  background-color: #fff; 
  padding:15px; 
  text-align:center; 
  box-shadow: 2px 2px 24px -7px black;
  border-radius: 5px;
} 

.filters{
  list-style : none;
}

.Instruction{
  font-family: monospace;
  text-align: center;
}

.hints{
  font-family: serif;
}

.instruction-block{
  text-align: center;
  margin: 40px auto 10px;;
  vertical-align: middle;
}

.instructions{
  margin-top: 40px;
}

.instruction-block .instruction{
  font-size: 16pt;
  vertical-align: middle;
  font-family: monospace;
}

.instruction-block .instruction-img{
  vertical-align: middle;
  height: 25px;
}

.hints{
  font-family: serif;
  font-size: 12pt;
  margin-right: 3%;
  margin-bottom: 30px;
}

.hints .single-hint{
  margin: 5px 0;
}

.uncompleted-list{
  padding: 0;
  margin: 20px 0px;
}

.completed-list{
  padding: 0;
  margin: 10px 0px;
}

.completed-count{
  font-size: 12pt;
  margin: 0 3.5%;
  font-family: monospace;
}

.single-todo{
  margin: 10px 20px;
  list-style: none;
  font-size: 16pt;
  display: flex;
  align-items: center;
}

.single-todo .toggle{
  width: 23.5px;
  height: 23.5px;
  flex-shrink: 0;
}

.single-todo .todo-label{
  word-break: break-all;
  display: block;
  margin-left: 3%;
  font-family: monospace;
  flex-grow: 1;
}

.single-todo .finished{
  text-decoration: line-through;
}

.sort{
    color: white;
    margin-right: 5%;
    border : 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 13pt;
}

.head{
  font-size : 22pt; 
  font-family: cursive;
  background-color: rgb(59, 202, 183);
  padding: 8px 0px;
  box-shadow: 2px 2px 30px -10px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head .head-text{
  vertical-align: middle;
  color: white;
}

.add-todo{
  margin: 25px 5px 45px;
  height: 32px;
}

.add-todo .input{
  border: none;
  font-family:  inherit;
  outline: medium;
  padding: 0;
  vertical-align: middle;
  font-size: 18pt;
  width: 75%;
  background: rgb(246, 255, 246);
}

.add-todo .speech-icon{
  vertical-align: middle;
  width: 8.5%;
}

.add-todo .hr-line{
  margin : 5px auto;
}

.main-body{
  margin: 0 9% ;
}

.add-todo .img-add{
  vertical-align: middle;
  width: 8.5%;
}

.body-style {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 221, 196);
    /* overflow: hidden; */
}

.toggle-button{
    background: transparent;
    border : 0;
    outline: medium;
    vertical-align: baseline;
} 

.toggle-button .button-img{
  vertical-align: middle;
}

.menu{
  background-color: hsl(172,12%,75%);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  z-index: 0;
  display: block;
  left: 0;
  right: 0;
}

.panel{
  position: relative;
  z-index: 1;
  background-color: rgb(256, 255, 246);
  min-height: 100vh;
  height: 100%;
}

.move-left{
  transform: translateX(0);
  transition-duration: 0.8s;
}

.move-right{
  transform: translateX(256px);
  transition-duration: 0.8s;
}

.filter-area{
  text-align: center;
}

.batch{
  text-align: center;
}

.new-checkbox{
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: white;
  border: 1px gray solid;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]:checked+label::before{
  content:"✓";
  font-size: 22pt;
}

.clear-toggle{
  border-radius: 2px;
  border: 2px;
  font-family: serif;
  box-shadow: 2px 2px 25px -8px black;
}

.head-left{
  display: flex;
  align-items: center;
}