#modal-overlay {
  visibility: hidden; 
  position: absolute; 
  left: 0px;
  top: 0px; 
  width:100%; 
  height:100%; 
  text-align:center;
  z-index: 1000; 
}

.modal-data{ 
  width:300px;
  margin: 100px auto; 
  background-color: #fff; 
  border:1px solid #000; 
  padding:15px; 
  text-align:center; 
} 

.filters{
  list-style : none;
}

.Instruction{
  font-family: monospace;
  text-align: center;
}

.hints{
  font-family: serif;
}

.instruction-block{
  text-align: center;
  margin: 20px 0;
  vertical-align: middle;
}

.instruction-block .instruction{
  font-size: 16pt;
  vertical-align: middle;
  font-family: monospace;
}

.instruction-block .instruction-img{
  vertical-align: middle;
  height: 25px;
}

.hints{
  font-family: serif;
  font-size: 12pt;
  margin-right: 5%;
}

.hints .single-hint{
  margin: 5px 0;
}

.uncompleted-list{
  padding: 0;
  margin: 20px 0px;
}

.completed-list{
  padding: 0;
  margin: 10px 0px;
}

.completed-count{
  font-size: 12pt;
  margin: 0 3.5%;
  font-family: monospace;
}

.single-todo{
  margin: 7px 20px;
  list-style: none;
  font-size: 16pt;
}

.single-todo .toggle{
  width: 23.5px;
  height: 23.5px;
  position: absolute;
  margin:auto 0;
}

.single-todo .todo-label{
  word-break: break-all;
  display: block;
  margin-left: 10%;
}

.single-todo .finished{
  text-decoration: line-through;
}

.sort{
    float: right;
    margin: 7.5px 10px 3px 0;
    border : 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12pt;
    background: transparent;
}

.head{
  font-size : 20pt; 
  font-family: cursive;
  background-color: rgb(59, 202, 183);
  padding: 8px 0px;
}

.head .head-text{
  vertical-align: middle;
}

.add-todo{
  margin: 5px 5px;
  height: 32px;
}

.add-todo .input{
  border: none;
  font-family:  inherit;
  outline: medium;
  padding: 0;
  vertical-align: middle;
  font-size: 18pt;
  width: 75%;
  background: rgb(157, 197, 157);
}

.add-todo .speech-icon{
  vertical-align: middle;
  width: 8.5%;
}

.add-todo .hr-line{
  margin : 5px auto;
}

.main-body{
  margin: 0 9% ;
}


.add-todo .img-add{
  vertical-align: middle;
  width: 8.5%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 221, 196);
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: rgb(157, 197, 157);
  min-height: 100vh;
  height: 100%;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button{
    background: transparent;
    border : 0;
    outline: medium;
    vertical-align: baseline;
} 

.toggle-button .button-img{
  vertical-align: middle;
}